localhost {
  log {
    format json
  }

  # Включаем компрессию
  encode zstd gzip

  # Используем самоподписанный сертификат для разработки
  tls internal

  # Проксируем все запросы на наше приложение
  reverse_proxy /* app:8080
}